<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jerryMouse.mapper.OperateLogMapper">


    <select id="page" resultType="com.jerryMouse.pojo.OperateLog">
        select
            o.id,
            o.operate_emp_id as operateEmpId,
            o.operate_time as operateTime,
            o.class_name as className,
            o.method_name as methodName,
            o.method_params as methodParams,
            o.return_value as returnValue,
            o.cost_time as costTime,
            e.name as operateEmpName
        from operate_log o
                 left join emp e on o.operate_emp_id = e.id
        order by o.operate_time desc
    </select>
</mapper>